*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
header{
    position: absolute;
    width: 968px;
    height: 72px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
}
header img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 96px;
    height: 59.52px;
    left: 80px;
    top: 16px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 64px;
    list-style: none;
    position: absolute;
    width: 721px;
    height: 19px;
    left: 256px;
    top: 36px;
}

#login{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;

position: absolute;
width: 93px;
height: 41px;
left: 1069px;
top: 20px;

background: #EEE8F2;
border-radius: 4px;
}
#create{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;
color: white;
position: absolute;
width: 166px;
height: 41px;
left: 1194px;
top: 20px;

background: #3E0563;
border-radius: 4px;
}
.main-banner h2{
    position: absolute;
    width: 1101px;
    height: 230px;
    left: 169.86px;
    top: 159.06px;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    letter-spacing: -0.06em;

color: #0C0114;
}
.main-banner input{
    position: absolute;
width: 840px;
height: 64px;
left: 300px;
top: 414px;
}
#search{
    box-sizing: border-box;

position: absolute;
width: 660px;
height: 64px;
left: 300px;
top: 414px;
border: 1px solid #DBDBDB;
border-radius: 4px;
}
#box{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 980px;
    top: 414px;
    color: white;
    background: #3E0563;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
}
#seeMore{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 185px;
height: 24px;
left: 627px;
top: 512px;
}
#seeMore p{
    width: 153px;
    height: 22px;

    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #0C0114;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
#seeMore img{
    width: 24px;
height: 24px;
}
.target{
    position: absolute;
width: 1440px;
height: 692px;
left: 0px;
top: 676px;
background: #1F0231;
background-image: url(./Images/Target-image.png)
}
.target h3{
    position: absolute;
width: 211px;
height: 58px;
left: 614px;
top: 56px;

font-family: 'Pulp Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */

text-align: center;
letter-spacing: -0.06em;

color: #FFFFFF;
}
.frames{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 1280px;
    height: 290px;
    left: 80px;
    top: 201px;
}
.target .frames div{
    box-sizing: border-box;
    text-align: center;
    width: 290px;
    height: 290px;
    padding-top: 20px;
    border: 2px solid #9E82B1;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.frames div h4{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-top: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}
.awards{
    position: absolute;
width: 1400px;
height: 650px;
left: 0px;
top: 1368px;

background: #FFFFFF;
}
#arcs{
    position: absolute;
width: 180px;
height: 180px;
left: 1400px;
top: 470px;

transform: matrix(-1, 0, 0, 1, 0, 0);
}
#connected{
    position: absolute;
width: 550px;
height: 490px;
left: 80px;
top: 80px;
}
.awards h3{
    position: absolute;
width: 350px;
height: 43px;
left: 735px;
top: 80px;

font-family: 'Pulp Display';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
letter-spacing: -0.06em;

color: #0C0114;
}
.awards p{
    position: absolute;
width: 375px;
height: 168px;
left: 737px;
top: 159px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #0C0114;
}
#rectangle{
    position: absolute;
width: 88px;
height: 4px;
left: 735px;
top: 131px;

background: #FA9706;
border-radius: 6px;
}
.awards button a{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;
position: absolute;
width: 141px;
height: 51px;
left: 735px;
top: 359px;
background: #3E0563;
border-radius: 4px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}
.techies{
    position: absolute;
width: 1440px;
height: 697px;
left: 0px;
top: 2018px;

background: #FFFFFF;
}
.images{
    position: absolute;
width: 620px;
height: 590px;
left: 740px;
top: 72px;
}
#img1{
    position: absolute;
    width: 290px;
    height: 275px;
    left: 0px;
    top: 0px;
}
#img2{
    position: absolute;
    width: 290px;
    height: 275px;
    left: 330px;
    top: 0px;    
}
#img3{
    position: absolute;
    width: 290px;
    height: 275px;
    left: 0px;
    top: 315px;
}
#img4{
    position: absolute;
    width: 290px;
    height: 275px;
    left: 330px;
    top: 315px;
}
.techies h3{
    position: absolute;
width: 285px;
height: 43px;
left: 80px;
top: 80px;

font-family: 'Pulp Display';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
letter-spacing: -0.06em;

color: #0C0114;
}
#rect2{
    position: absolute;
width: 88px;
height: 4px;
left: 80px;
top: 131px;

background: #FA9706;
border-radius: 6px;
}
.techies p{
    position: absolute;
width: 375px;
height: 168px;
left: 80px;
top: 159px;

font-family: 'Pulp Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #0C0114;
}
.techies button a{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;
position: absolute;
width: 148px;
height: 51px;
left: 80px;
top: 359px;
background: #3E0563;
border-radius: 4px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}
a{
    text-decoration: none;
}
#arc2{
    position: absolute;
width: 180px;
height: 180px;
left: 0px;
top: 490px;
}
.talents{
    position: absolute;
    width: 1440px;
    height: 320px;
    left: 0px;
    top: 2715px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 65px;
}
.talents div{
    width: 400px;
    height: 370px;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    text-align: center;
    padding: 50px 40px;
}
.talents div h4{
    margin: 20px 0;
    width: 297px;
height: 43px;

font-family: 'Pulp Display';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
text-align: center;
letter-spacing: -0.04em;

color: #3E0563;
}
.talents div p{
    width: 335px;
height: 95px;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #0C0114;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

footer{
    position: absolute;
    width: 1440px;
    height: 652px;
    background: #1F0231;
    background-image: url(./Images/Footer\ Image.png);
    background-repeat: no-repeat;
    background-position: right;
    left: 0px;
    top: 3275px;
}
.content{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 120px;

position: absolute;
width: 939px;
height: 148px;
left: 80px;
top: 80px;
}
.content ul li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 18px 0;
    color: #FFFFFF;
}
.content ul li:nth-child(1){
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FA9706;
}
footer img{
    position: absolute;
    width: 160px;
    height: 97.53px;
    left: 80px;
    top: 426px;
}
#left{
    margin: 538px 0 0 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}
#right{
    left: 990px;
    margin: -20px 0 0 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    
    color: #FFFFFF;
}
.content ul{
    list-style-type: none;
}