body{
    background-color: #1F0231;
    background-image: url(../Images/sixTireBg.png);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    height: 1258px;
    }
    main{
        width: 547px;
        height: 1092px;
        margin: 60px auto;
        background: #FFFFFF;
        border-radius: 4px;
        padding: 19px;
    }
    main h2{
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.02em;
        width: 286px;
        height: 58px;
        margin: 10px auto;
        color: #0C0114;    
    }
    #open{
        width: 464px;
        margin: auto;
    }
    #had{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-top: 16px;
        color: #434A54;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    form{
        width: 464px;
        height: 478px;
        margin-top: 20px;
    }
    
    main button{
        box-sizing: border-box;
        width: 464px;
        height: 56px;
        background: rgba(216, 205, 224, 0.1);
        border: 1px solid #D8CDE0;
        border-radius: 4px;
        margin: 14px 0 24px;
    }
    label{
        font-style: normal;
        height: 14px;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #0C0114;
        margin-bottom: 20px;
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .others input, select{
        width: 464px;
        height: 47px;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-top: -7px !important;
    }
    .others{
        margin-top: 26px;
    }
    form div button{
        width: 464px;
        height: 56px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        background: #3E0563;
        border-radius: 4px;
        margin-top: 29px;
    }
    a{
        text-decoration: none;
    }
    span{
        color: #EA4335;
    }
    h3{
        margin: 30px 0 50px;
    }
    .smlinks{
        display: flex;
        margin-top: 35px;
    }
    .smlinks input{
        box-sizing: border-box;
        width: 320px;
        height: 47px;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: -10px auto   !important;
    }
    .tags{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 99px;
        height: 24px;
        margin-right: 50px;
    }
    .tags:nth-child(odd){
        margin-left: 10px;
    }
    .tags p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #0C0114;
    }
    #about{
        margin-top: 70px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #000000;
        width: 423px;
    }
    #enquiries{
        margin-top: 20px;
        margin-bottom: 60px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #000000;
        width: 423px;
    }
    div a{
    background: #3E0563;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 200px;
    }